const mysql = require('mysql'); 

module.exports = () => {
  return mysql.createConnection({
    host: 'DB_HOST', // host 
    user: 'DB_USER', // Usuario del mysql
    password: 'DB_PASSWORD', // Contraseña 
    database: 'DB_NAME' // Nombre de la base de datos a la que se va a conectar
  });
} 

